body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
  background: white;
}

.arrow:before {
  content: '▼';
}

.toggled .arrow:before {
  content: '▲';
}

#board {
  /*width: 100%;*/
  /*height: 90vh;*/
  flex: 1;
  position: relative;
  /*overflow: hidden;*/
  background-color: rgb(245, 247, 250);
  margin: 15px;
}

/*.card {*/
  /*width: 280px;*/
  /*height: 550px;*/
  /*position: absolute;*/
  /*top: 30%;*/
  /*left: 50%;*/
  /*border-radius: 1%;*/
  /*box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);*/
  /*background-color: white;*/
  /*transform: translateX(-50%) translateY(-50%) scale(0.95);*/
  /*background-size: 300px 450px;*/
  /*background-repeat: no-repeat;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: flex-end;*/
  /*padding: 10px;*/
  /*font-family: 'Fira Sans', sans-serif;*/
  /*font-size: 14px;*/
/*}*/

.card {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  height: 100%;
  display: flex;
  flex-direction: column;
  /*overflow: hidden;*/
}

.card .card-wrap {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.card-wrap .image {
  flex: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card .overview {
  /*padding: 5px;*/
}

.movie-title {
font-weight: bold;
}

.card-expanded {
  justify-content: center;
}

@media only screen and (max-width: 600px) {
/*.card {*/
    /*width: 80vw;*/
    /*height: 150vw;*/
    /*top: 80vw;*/
    /*left: 50%;*/
    /*background-size: 86vw 126vw;*/
    /*padding: 3vw;*/
    /*font-size: 4.3vw;*/
    /*border: 1px solid red;*/
  /*}*/
  .card {

  }
}

strong {
  font-family: Arial, Helvetica, sans-serif;
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.emoji-button {
  font-size: 10vw;
}

#picked-movies {
  background-color: antiquewhite;
  /*padding: 5px;*/
  z-index: 1;
  position: absolute;
  top: 18px;
  width: 100%;
  transition: 0.4s;
  transform: translateY(-100%);
  /*display: none;*/
}

#picked-movies.visible {
  /*display: block;*/
  transform: translateY(0);
}